#biodata-saya{
    width: 300;
    height: 400;
    border-color: black;
    border-style: solid;
    padding: 10px, 15px, 10px, 15px;
    margin: 0 auto;
}

p{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

h1{
    text-align: center;
}